.heading
{
   font-size: 23px;
   width: 100%;
   margin: 0px;
   box-shadow: 8px 8px 8px greenyellow; 
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
    position: fixed;
    color: blanchedalmond;
    bottom: 0;
    width: 100%;
    border-color: skyblue;
    background-color: blue;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px orangered;

}